ion-toolbar {
    --background: #ffffff;
    --color: #000;
    font-weight: 600;
    font-size: 18px;
  }
  
  ion-content {
    --background: #fff;
    text-align: center;
  }
  
  .icon-container {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  ion-icon {
    font-size: 60px;
    color: #f39c12;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #000;
  }
  
  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  ion-item {
    border-radius: 8px;
    margin-bottom: 20px;
    --highlight-color-focused: #1a73e8;
  }
  
  .recovery-btn {
    --background: #1a73e8;
    --background-activated: #1559b5;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .footer-text {
    margin-top: 25px;
  }
  
  .footer-text a {
    color: #1a73e8;
    font-size: 14px;
    text-decoration: none;
  }
  