<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="icon-container">
    <ion-icon name="key-outline"></ion-icon>
  </div>

  <h2>¿Olvidaste tu contraseña?</h2>
  <p>Te enviaremos un código de recuperación a tu correo electrónico</p>

  <form [formGroup]="recoverForm" (ngSubmit)="enviarCodigoRecuperacion()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input
        type="email"
        formControlName="email">
      </ion-input>
    </ion-item>

    @if (email.invalid && (email.dirty || email.touched)) {
      <ion-text color="danger">
        @if (email.errors?.['required']) {
          <p>El correo es obligatorio.</p>
        }
        @if (email.errors?.['email']) {
          <p>Ingresa un correo válido.</p>
        }
      </ion-text>
    }

    <ion-button expand="block" class="recovery-btn" type="submit" [disabled]="recoverForm.invalid">
      Enviar código de recuperación
    </ion-button>
  </form>

  <div class="footer-text">
    <a routerLink="/login">Volver al inicio de sesión</a>
  </div>

</ion-content>
