.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #3C3C3C;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 4px; bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0E6EB8;
}

input:checked + .slider:before {
  transform: translateX(85px);
}

.slider:after {
  content: 'INCOMPLETO';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-40%,-40%);
  top: 50%; left: 50%;
  font-size: 9px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: 'COMPLETO';
}
