

<ion-content class="login-content">
  <div class="login-container">
    <img src="assets/gy.png" alt="Super Gym" class="logo" />

    <h2 class="app-title">Super Gym</h2>
    <p class="subtitle">Tu entrenador personal</p>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Usuario" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button" shape="round">
      Iniciar sesión
    </ion-button>
<br>
    <a class="forgot-link" href="/recover-password">¿Olvidaste tu contraseña?</a>
<br>
    <p class="register-text">
      ¿No tienes una cuenta?
      <a class="register-link" href="/register">Regístrate</a>
    </p>
  </div>
</ion-content>
