<ion-content class="login-content">
  <div class="login-container">
    <img src="assets/gy.png" alt="Super Gym" class="logo" />

    <h2 class="app-title">Super Gym</h2>
    <p class="subtitle">Tu entrenador personal</p>

    <form [formGroup]="loginForm" (ngSubmit)="ingresar()">
      <ion-item lines="none" class="input-item">
        <ion-input
          formControlName="correo"
          type="email"
          label="Correo electrónico"
          labelPlacement="floating"
          placeholder="ejemplo@correo.com"
        ></ion-input>
      </ion-item>

      @if (correo.invalid && (correo.dirty || correo.touched)) {
        <ion-text color="danger">
          @if (correo.errors?.['required']) {
            <p>El correo es obligatorio</p>
          }
          @if (correo.errors?.['email']) {
            <p>El formato del correo no es válido</p>
          }
        </ion-text>
      }

      <ion-item lines="none" class="input-item">
        <ion-input
          formControlName="contrasena"
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingresa tu contraseña"
        ></ion-input>
      </ion-item>

      @if (contrasena.invalid && (contrasena.dirty || contrasena.touched)) {
        <ion-text color="danger">
          @if (contrasena.errors?.['required']) {
            <p>La contraseña es obligatoria</p>
          }
          @if (contrasena.errors?.['minlength']) {
            <p>Debe tener al menos 6 caracteres</p>
          }
        </ion-text>
      }

      <ion-button
        expand="block"
        class="login-button"
        shape="round"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Iniciar sesión
      </ion-button>
    </form>

    <br />

    <p class="forgot-link" (click)="irARecuperar()">
      ¿Olvidaste tu contraseña?
    </p>

    <br />

    <p class="register-text">
      ¿No tienes una cuenta?
      <span class="register-link" (click)="irARegistro()">Regístrate</span>
    </p>
  </div>
</ion-content>
