ion-toolbar {
  --background: #ffffff;
  --color: #000;
  font-weight: 600;
  font-size: 18px;
}

ion-content {
  --background: #fff;
  padding: 16px;
}

ion-input {
  --background: #f9f9f9;
  --color: #000;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin-bottom: 14px;
  --padding-start: 12px;
  --inner-padding-end: 12px;
}


ion-input::part(native) {
  border: none !important;
  box-shadow: none !important;
}


ion-input,
ion-select,
ion-datetime {
  --background: transparent;
  font-size: 15px;
}


.peso-altura {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.peso-altura ion-item {
  flex: 1;
}

.register-btn {
  --background: #2ecc71;
  --background-activated: #27ae60;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 16px;
  height: 48px;
}

.icono-ojo {
  font-size: 22px;
  cursor: pointer;
  margin-left: 8px;
}


.error {
  color: #e74c3c;
  font-size: 13px;
  margin: -8px 0 8px 8px;
}
