<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="card card-5">
    <img src="assets/cardlun.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día lunes</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'lunes']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="card card-5">
    <img src="assets/cardmar.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día martes</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'martes']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="card card-5">
    <img src="assets/cardmier.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día miércoles</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'miercoles']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="card card-5">
    <img src="assets/cardlun.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día jueves</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'jueves']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="card card-5">
    <img src="assets/cardmar.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día viernes</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'viernes']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="card card-5">
    <img src="assets/cardmier.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día sábado</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'sabado']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="card card-5">
    <img src="assets/cardlun.jpg" alt="Fondo borroso" class="card__bg" />
    <div class="card__content">
      <p class="card__exit"></p>
      <div class="text">
        <strong>Rutina de día domingo</strong>
      </div><br>
      <p class="card__apply">
        <a class="card__link" [routerLink]="['/detallejer', 'domingo']" routerLinkActive="router-link-active">
          Empezar rutina <i class="fas fa-arrow-right"></i>
        </a>
      </p>
    </div>
  </div>

</ion-content>
