.card {
  position: relative;
  margin: 20px;
  padding: 20px;
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  place-items: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

/* efecto blur */
.card__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px) brightness(0.9);
  z-index: 0;
}

.card__content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.text {
  font-size: 16px;
  margin: 15px 0;
}

.card__link {
  text-decoration: none;
  color: white;
  font-size: 12px;
  background-color: rgba(190, 190, 190, 0.635);
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

.card__link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
